<section id="{% if page.header.redirect %}{{ page.header.redirect }}{% else %}{{ page.menu|lower|replace({' ': ''}) }}{% endif %}"
         class="s-basic {{ page.header.sectionBackground }} target-section">
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>{{ page.header.smallTitle }}</h3>
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.header.lead }}</p>
        </div>

    </div>
    <div class="row narrow section-intro" style="text-align:left">
        <div class="col-full">
            <div>
                <p>
                    {{ page.content|raw }}
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end basic -->
