{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="small-page-header page-hero" style="background-image:url({{ page.media[page.header.splash.bg_image_landscape].url() }})">
        <div class="row page-header__content narrow text-center">
            <h3 class="page-header__title">
                {{ page.header.subtitle }}
            </h3>
            <h1 class="page-header__title">
                {{ page.title }}
            </h1>
        </div>
    </section>

    <section id="default" class="s-default">
        <div class="row section-intro">
            <div class="col-full">
                <div class="column column-2-3">
                    <div class="drop-cap"{{ page.content|raw }}</div>
                </div>
                <div class="column column-1-3">
                    <div class="left-side">
                        {% if page.header.video %} 
                            <h2> Video </h2>
                            {% for video in page.header.video %}
                                {% if video.type == 'youtube' %}
                                    <small> {{ video.youtube.youtubeLabel }} </small>
                                    {# Divide la cadena en un máximo de 2 partes #}
                                    {% set params = video.youtube.youtubeLink|split('v=', 2) %}

                                    {% if params[1] is defined %}
                                        {# Extrae hasta el siguiente '&' si lo hay #}
                                        {% set video_id = params[1]|split('&')[0] %}
                                        {% set url_embed = "https://www.youtube.com/embed/" ~ video_id %}
                                    {% endif %}
                                    <iframe width="100%" src={{ url_embed }} frameborder="0" allowfullscreen></iframe>
                                {% endif %}
                                {% if video.type == 'vimeo' %}
                                    {% set url_embed = "https://player.vimeo.com/video/" ~  video.vimeo.vimeoLink | split('/') | last  %}
                                    <small> {{ video.vimeo.vimeoLabel }} </small>
                                    <iframe width="100%" src={{ url_embed }} frameborder="0" allowfullscreen></iframe>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if page.header.audio %} 
                            <h2> Audio </h2>
                            {% for audio in page.header.audio %}
                                {% if audio.type == 'local' %}
                                    <small> {{ audio.local.audioLabel }} </small>
                                    {{ page.media[ audio.local.audioFile ].html()|raw }}
                                {% endif %}
                                {% if audio.type == 'soundcloud' %}
                                    <small> {{ audio.soundcloud.soundcloudLabel }} </small>
                                    {# La teva variable amb l'adreça de SoundCloud #}
                                    {% set url_soundcloud = audio.soundcloud.audioLink %}

                                    {# Concatenem i codifiquem la URL correctament #}
                                    {% set url_embed = "https://w.soundcloud.com/player/?url=" ~ url_soundcloud|url_encode %}

                                    {# El codi HTML de l'iframe #}
                                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ url_embed }}"></iframe>   
                                {% endif %}
                            {% endfor %}
                            <p align="right">
                                <a href="https://wiki.zynthian.org/index.php/Zynthian_Sound_Demos?pk_vid=955d2bc4549caa911783853393b29b24" target="_blank" rel="noopener">more video/audio demos...</a>
                            </p>
                        {% endif %}

                        {% if page.header.urls %} 
                            <h2> Links </h2>
                            <ul>
                            {% for url in page.header.urls %}
                                <li><a href="{{ url.urlLink|e }}">{{ url.urlLabel|e }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
